* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
 font-family: sans-serif;
}


section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

section h1{
    font-size: 3em;
}

section h2{
    text-align:center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em
}

section form{
    padding: 1.5em;
    display:flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(0,0,0,.1);
}

section form label{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border: none;
    outline-color: #003DFF;
    background-color: #eee;
}

section form input[type='submit']{
    margin-top: 1.5em;
    background-color: #003DFF;
    color: #fff;
} 

section form input[type='submit']:active{
    transform: scale(0.97);
}

section p{
    margin-top: 1.5em;

}


section p a{
    text-decoration: none;
    color: #003DFF;
}


/* Home */

button{
    background-color: #003DFF;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 9px;
    margin-top: 1.5em;
    font-size: 1em;
}

.btn-primary{
    background-color: #003DFF;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 9px;
    margin-top: 1.5em;
    font-size: 1em;
}

.container{
    display: flex;
    flex-direction: column;
}

.nuevosDatos{
    margin-top: 1.5rem;
    text-align: center;
}
